body {
    padding: 70px 50px 50px;
    font-size: 12pt;

    background: url(../img/logo-bg.png) top left no-repeat;
    background-attachment: fixed;
}

input, textarea {
    display: block;
}

.board {
	width: 80%;
	height: 100%;
	float: left;
}

.sticky {
	width: 330px;
	height: 360px;
	padding: 45px 20px;
	display: inline-block;
}
.sticky.yellow{
    background-image: url('../img/sticky_yellow.png');
}
.sticky.pink{
    background-image: url('../img/sticky_pink.png');
}
.sticky.blue{
    background-image: url('../img/sticky_blue.png');
}

.sticky div {
	-webkit-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
	height: 285px;
	font-size: 22px;
	overflow: hidden;
	position: relative;
	word-wrap: break-word;
}
.sticky span.signed {
    right: 0px;
    bottom: 0px;
    font-size: 14px;
    position: absolute;    
}
.sticky h4 {
	margin: 0;
    font-size: 26px;
}
.sticky img {
	height: 255px;
	width: 290px;
}

.sidebar {
	width: 20%;
	height: 100%;
	float: right;
}

.new-sticky input[type=checkbox] {
	display: inline;
}

.new-sticky button.yellow {
	background-color: yellow;
}
.new-sticky button.pink {
    background-color: pink;
}
.new-sticky button.blue {
    background-color: lightblue;
}

@media screen and (max-width: 1200px) {
	.board {
		width: 100%;
		height: 70%;
	}

	.sidebar {
		width: 100%;
		height: 30%;
	}
}

.login {
	margin: 50px;
}
