<!DOCTYPE html>
<html ng-app="postItApp">
<head lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>PostIt!</title>	
	
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
		
	<script src="js/lib/jquery-1.11.0.min.js"></script>
	<script src="js/lib/angular-1.1.5.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/controllers.js"></script>
</head>
<body ng-controller="StickyCtrl" ng-init="initBoard()">
	<div class="board">
		<b>Laatst geplaatste stickies:</b><br />
        <!-- TODO vervang sticky directive door oplossing met ng-include -->
        <sticky ng-repeat="sticky in stickies" content="sticky"></sticky>
	</div>
	<div class="sidebar">
		<div class="login" ng-hide="authenticated">
			<h3>Inloggen</h3>
			Inlognaam: <input type="text" class="form-control"ng-model="username" placeholder="Username"> 
			Wachtwoord: <input type="password" class="form-control" ng-model="password" placeholder="Password"><br />
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="login()">Login</button>
			</div>
		</div>
		<div class="new-sticky" ng-show="authenticated">
			<h3>Nieuwe sticky plaatsen</h3>
			<fieldset ng-show="template.url === 'templates/image'">
				<input type="text" ng-model="header" placeholder="Your Header" class="form-control">
				<input type="text" ng-model="content" class="form-control">
			</fieldset>
			<textarea ng-model="content" ng-hide="template.url === 'templates/image'" placeholder="Your Message" cols="40" rows="5">
            </textarea>

			<div class="btn-group">
				<button class="btn btn-default dropdown-toggle {{color}}" data-toggle="dropdown">
					{{color}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="color in colors" ng-click="setColor(color)"><a href="#">{{color}}</a></li>
				</ul>
			</div>
			<div class="btn-group">
				<button class="btn btn-default dropdown-toggle"	data-toggle="dropdown">
					{{template.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="template in templates" ng-click="setTemplate(template)"><a href="#">{{template.name}}</a></li>
				</ul>
			</div>
			<button type="button" class="btn btn-default" ng-click="postIt()">Post It!</button>
		</div>
	</div>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Welcome to PostIt!</a>
			<div class="pull-right">
				<form class="navbar-form">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Zoek" ng-model="phrase">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="search()">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
					<div class="input-group" ng-show="authenticated">
						<button type="button" class="btn btn-default" ng-click="logout()">Logout {{username}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>